p,li,u {
    font-family: 'Open Sans', sans-serif; /* Default body font */
  }
  h1, h2, h3{
    font-family: 'Montserrat';
  }

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-shimmer {
    animation: shimmer 2s infinite;
  }